.mdl-carousel {
  position: relative;
  overflow: hidden;
  padding: 24px;
  box-sizing: border-box;
}

.mdl-carousel__items {
  display: flex;
}

.mdl-carousel__item {
  img {
    pointer-events: none;
  }
}